In [77]:
import pandas as pd 
import geojson

data = pd.read_csv("day_wise_location.csv", delimiter=',', )
import numpy as np

In [78]:
df1 = data.drop_duplicates(subset ='cell_name', keep=False)
df1 = df1.drop(['day_id', 'msisdn'], axis=1)
df1 = df1.fillna(0)
df1

    cell_name   district    region   latitude  longitude
0    WBHE149B    SURKHET     BHERI  28.418500  81.798200
1    GBAG131A  KATHMANDU   BAGMATI  27.771550  85.269680
2    GBRJ004Z      PARSA  NARAYANI  27.013356  84.890527
3    WKAT489A  KATHMANDU   BAGMATI  27.736000  85.309030
5    WKAT092A  BHAKTAPUR   BAGMATI  27.665495  85.425798
..        ...        ...       ...        ...        ...
995  GKAT036A  KATHMANDU   BAGMATI  27.735103  85.331537
996  GKAT391A  KATHMANDU   BAGMATI  27.721210  85.285620
997  WBUT001A  RUPANDEHI   LUMBINI  27.701671  83.465913
998  WGAN106A     GORKHA   GANDAKI  28.009990  84.714190
999  GKAT417C  KATHMANDU   BAGMATI  27.744100  85.327000

[919 rows x 5 columns]

In [79]:
def data2geojson(dfx):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["longitude"],
                                                    X["latitude"]),
                           ),
                             properties=dict(name=X["cell_name"],
                                            description=X["district"],  LAT= X["latitude"], LON= X["longitude"] 
                                            ),
                            id= X["cell_name"]
                           ))
    dfx.apply(insert_features, axis=1)
    
    with open('map1.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)
    return geojson.FeatureCollection(features)

In [86]:
df2= data2geojson(df1)
from random import sample
import random

In [106]:
df_0 = None
df_0 = pd.DataFrame(columns=['target', 'source',])

In [107]:
for i in range(200):
    df_0.loc[i] = [df2[random.randint(0,len(df1)-1)].id, df2[random.randint(0,len(df1)-1)].id]

In [108]:
df_0['flow'] = np.random.uniform(0,size=len(df_0))

In [109]:
df_0.to_csv('links.csv')